<form id="login_customer" action="/checksum_customer" method="post">
    <div class="col-md-6">
        <div class="billing-details">
            <input type="button" value="구매자 로그인" class="primary-btn pull-left" style="width: 50%;"/>
            <input type="button" id="login_seller_btn" value="판매자 로그인" class="main-btn pull-right" style="width: 50%;"/>
        <br>
        <br>
        <br>
            <div class="section-title">
                <h3 class="title">구매자 로그인</h3>
            </div>							
            <div class="form-group">
                <input id="id" name="id" class="input" type="text" placeholder="아이디">
            </div>
            <div class="form-group">
                <input id="password" name="password" class="input" type="password" placeholder="비밀번호">
            </div>
            <br>
            <div class="pull-center">
                <input id="checksum_customer" name="checksum_customer" type="button" value="로그인" class="primary-btn" style="width:30%; height: 50px;"/>
            </div>
            <br><br>
            <p>daITso가 처음이신가요? &nbsp&nbsp&nbsp <a href="/join">회원가입</a></p>
        </div>
    </div>
</form>