
	<!-- FOOTER NEW -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="#">
		            <img src="./img/logo.png" alt="">
		          </a>
						</div>
						<!-- /footer logo -->
						<p>광운대학교 컴퓨터정보공학부<br>소프트웨어공학 3차 프로젝트<br>인터넷 쇼핑몰 웹 애플리케이션</p>
						<!-- footer social -->
						<!-- <ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul> -->
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">SW Project3 information</h3>
						<ul class="list-links">
							<li><a href="https://github.com/wogns7534/project3">Team Github Repository</a></li>
							<li><a href="#">Team SW Project3 Presentation</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Team members</h3>
						<ul class="list-links">
							<li><a href="https://github.com/wogns7534">2015722001 주재훈 - 팀장</a></li>
							<li><a href="https://github.com/pdache">2015722099 박동현 - 팀원</a></li>
							<li><a href="https://github.com/wlsgh6346">2015722065 최진호 - 팀원</a></li>
							<li><a href="https://github.com/hyeon9mak">2015722010 최현구 - 팀원</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Used Tech & LANGUAGE</h3>
						<ul class="list-links">
							<li><a href="https://developer.mozilla.org/ko/docs/Web/JavaScript"></a>JavaScript</a></li>
							<li><a href="https://ko.wikipedia.org/wiki/HTML">HTML</a></li>
							<li><a href="https://developer.mozilla.org/ko/docs/Web/CSS">CSS</a></li>
							<li><a href="https://jquery.com/">JQUERY</a></li>
							<li><a href="https://ko.wikipedia.org/wiki/Ajax">AJAX</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by 주재훈, 박동현, 최진호, 최현구
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER NEW -->